//主体颜色
$fontColorTitle:#FF9C19; //颜色用于：标题的字体，其他主要字体
$fontColorSubTitle:#00CA9D; //颜色用于：副标题，操作框项（选项）文字
// 字体颜色
$fontColorMain: #19191A; // 文字颜色
$fontColorDisable:#35343D; //第二层级
$fontColorNormal:#5F5D70; // 第三层级文字颜色
$fontColorFourth: #9B99A9; // 第四层级文字颜色
$fontColorLast: #969998; // 第五层次文字颜色
$fontColorCoyness:#8D929A; //颜色用于：不显眼的文字，无法选中的文字,无数据的表现
$fontColorWhite:#FFFFFF; //颜色用于：反白文字，带颜色
$fontColorBlack:#525454; //颜色用于：黑色文字，价格，数量
$fontColorGreen:#00CA9D; //颜色用于：绿色文字
$fontColorRed: #ff4742;
$fontColorPayDisable:#E0E0E0;
$fontColorIcon: #888694;
// 边框颜色
$borderTagBorderColor: #E4E8EF;
$borderDisabledColor: #F3F3F3;
$borderGreyColor: #EFF2F7;
//背景颜色
$bgMainColor: #F5F5F5;
$bgColorGreen:#00CA9D; //用于绿颜色的背景
$bgColorWhite:#ffffff; //用于纯白色的背景
$bgColorGray: #F4F5F6; //用于灰色背景
$bgColorDisabled: #F3F3F3; //用于灰色背景
$bgColorOrder: #F7F9FB; // 订单列表背景色
$bgColorImgBg: #EDEDED; // 图片背景填充色
$bgColorTheme: #f2f2f2;
$bgColorHealthy: #EFF2F7;
$bgColorTag: #D8D8D8;

